<!--
自定义缩略图内容        http://v3.bootcss.com/components/#thumbnails-custom-content

 {
          "name":"内容缩略图组 随意多个缩略图",
          "templateUrl":"templates/components/parts/thumbnails-custom-content.html",
          "thumbnails":[
            {
              "image":"http://www.alvye.cn/statics/images/2016/kmtiandu.png",
              "title":"旅烨集团",
              "summary":"旅烨集团是一家互联网公司",
              "btn":{
                "link":"index",
                "name":"主页"
              }
            }
          ,{
              "image":"http://www.alvye.cn/statics/images/2016/kmtiandu.png",
              "title":"创立五周年",
              "summary":"旅烨创立五周年了",
              "btn":{
                "link":"about",
                "name":"关于"
              }
            }
          ]
    },


Anotation:
图片:242*200
-->


<div class="row">
    <div ng-repeat="thumbnail in myData.thumbnails" class="col-sm-6 col-md-4" >
        <div  class="thumbnail">
            <img src="{{thumbnail.image}}" alt="...">
            <div class="caption">
                <h3>{{thumbnail.title}}</h3>
                <p>{{thumbnail.summary}}</p>
                <p><a ui-sref="{{thumbnail.btn.link}} || #" class="btn btn-default" role="button">{{thumbnail.btn.name || "查看"}}</a></p>
            </div>
        </div>
    </div>
</div>