<!--
 thumbnails 缩略图  http://v3.bootcss.com/components/#thumbnails

{
          "name": "缩略图-四张所略图",
          "templateUrl": "templates/components/parts/thumbnails.html",
          "images": [
            "http://www.alvye.cn/statics/images/2016/kmtiandu.png",
            "http://www.alvye.cn/statics/images/2016m/banner3.jpg"
          ]
        },

Anotaction:
images:['url','url'] 图片路径群,建议171*180,自由长度
-->
<div class="row">
    <div ng-repeat="image in myData.images" class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="{{image}}" alt="...">
        </a>
    </div>
</div>