<div class="page-footer ">
    <div class="footer">
        <div class="footer-item">
            <div class="footer-title">
                <h4>产品</h4>
            </div>
            <ul class="footer-link">
                <li><a target="_blank" href="">云应用 SAE</a></li>
                <li><a target="_blank" href="">云存储 SCS</a></li>
                <li><a target="_blank" href="">云直播 SLS</a></li>
                <li><a target="_blank" href="">云商店 SCM</a></li>
                <li><a target="_blank" href="">云邮箱 SEM</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-title">
                <h4>支持中心</h4>
            </div>
            <ul class="footer-link">
                <!--<li class="fs12">商务咨询：400-823-1517</li>-->
                <li><a href="">产品文档</a></li>
                <li><a href="">常见问题</a></li>
                <li><a href="">工单</a></li>
                <li><a href="">账户等级</a></li>
                <li><a href="">新浪云论坛</a></li>
                <li><a href="">学习资料</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-title">
                <h4>成功案例</h4>
            </div>
            <ul class="footer-link">
                <li><a href="">游戏</a></li>
                <li><a href="">移动</a></li>
                <li><a href="">教育</a></li>
                <li><a href="">金融</a></li>
                <li><a href="">社交</a></li>
                <li><a href="">传统行业</a></li>
            </ul>
        </div>
        <div class="footer-item">
            <div class="footer-title">
                <h4>关于新浪云</h4>
            </div>
            <ul class="footer-link">
                <li><a href="#">关于我们</a></li>
                <!--<li><a href="#">平台架构</a></li>-->
                <li><a href="#">备案指引</a></li>
                <li><a href="#">用户协议</a></li>
                <li><a href="#">信息举报</a></li>
                <li><a href="#">平台动态</a></li>
            </ul>
        </div>
        <div class="footer-item follow-item">
            <div class="footer-title">
                <h4>关注我们</h4>
            </div>
            <p class="mb10 fs12">掌上SAE客户端</p>
            <div class="app-download">
                <a href="#"><img src="/static/common/image/sae_app_download.png"></a>
            </div>
            <div class="follow-us mt10">
                <span class="weibo"><a href="{{default.weibo}}" title="微博">weibo</a></span>
                <span class="weibo"><a href="{{default.website}}" title="官方网站">官方网站</a></span>
            </div>

        </div>
        <div class="footer-item">
            <div class="footer-title">
                <h4>官方微信</h4>
            </div>
            <div class="true-cloud">
                <a href="" target="_blank"><img src="{{default.weixin}}"></a>
                <ul>
                    <li>联系电话{{default.serviceOnline}}</li>
                    <li>云数据库服务&nbsp;NO：03006</li>
                    <li>云引擎服务　&nbsp;NO：04001</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">{{default.copyright}}</div>
    <div style="display:none;">
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1255888816'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255888816' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1255888816"></span><script src=" http://s4.cnzz.com/z_stat.php?id=1255888816" type="text/javascript"></script><script src="http://c.cnzz.com/core.php?web_id=1255888816&amp;t=z" charset="utf-8" type="text/javascript"></script>
    </div>

</div>