<section class="container content-section">
    <div class="row">
        <div class="col-lg-5">
            <img src="https://twibble.io/images/home/1-media.jpg" class="circle-image" style="">
        </div>
        <div class="col-lg-7">
            <h2 class="section-pad">Beautiful media in every tweet</h2>
            <p>We are visual creatures. Our system automatically pulls featured images and embeds them into each tweet. No fuss. Just beautiful media in each and every tweet.</p>
        </div>
    </div>
</section>
<section class="container content-section">
    <div class="row">
        <div class="col-lg-5 col-lg-push-7">
            <img src="https://twibble.io/images/home/1-media.jpg"  class="circle-image">
        </div>
        <div class="col-lg-7 col-lg-pull-5">
            <h2 class="section-pad">Spend less time scheduling</h2>
            <p>Our advanced scheduling system allows you to create custom tweet schedules. Tweet every hour, only on certain days or even specific times. Now you can spend more time on the things that matter.</p>
        </div>
    </div>
</section>