<section class="container content-section" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-5" >
            <img src="{{myData.images[0].src}}" class="circle-image" style="">
        </div>
        <div class="col-lg-7">
            <h2 class="section-pad">{{myData.images[0].title}}</h2>
            <p>{{myData.images[0].summary}}</p>
        </div>
    </div>
</section>
<section class="container content-section">
    <div class="row">
        <div class="col-lg-5 col-lg-push-7">
            <img src="{{myData.images[1].src}}"  class="circle-image">
        </div>
        <div class="col-lg-7 col-lg-pull-5">
            <h2 class="section-pad">{{myData.images[1].title}}</h2>
            <p>{{myData.images[1].summary}}</p>
        </div>
    </div>
</section>