<section class="facts-content" id="facts" data-slide="1" data-stellar-background-ratio="0.5" style="
background-position: 0px 24px;
 background: #313131 url({{myData.backgroundImage}}) no-repeat center;
" component="sea-section">
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <h3>Some fun facts <span class="yah">历程</span></h3>
            <div class="col-md-3 fact-info animated fadeInRight">
                <h4><em id="lines">75</em> <span>WEBSITES</span></h4>
                <div class="line2"></div>
                <p class="yah">应用出色的设计和高效的代码(JavaScript,HTML5,CSS3,PHP)我们用创造性的思维来打造创造性的项目。</p>
            </div>
            <div class="col-md-3 fact-info animated fadeInRight">
                <h4><em id="lines1">25</em> <span>APPS</span></h4>
                <div class="line2"></div>
                <p class="yah">一个应用被连接到一个服务，集中于完成一个动作。被称为UI / UX设计。最终提供给观众一个美丽的和无缝的体验。 </p>
            </div>
            <div class="col-md-3 fact-info animated fadeInRight">
                <h4><em id="lines2">100</em> <span>LOGOS</span></h4>
                <div class="line2"></div>
                <p class="yah">一个坚实的标识和身份是一个伟大品牌的基础。愿与您一起创造这个独特的身份，传达你的品牌信息。</p>
            </div>
            <div class="col-md-3 fact-info animated fadeInRight">
                <h4><em id="lines3">150</em> <span>CLIENT</span></h4>
                <div class="line2"></div>
                <p class="yah">有时候他们会赞扬我们，有时候会快递啤酒和点心，很高兴和他们一直共事，让我们彼此成为朋友。</p>
            </div>
        </div>
    </div>
</section>