<section class="team-content" id="team" component="sea-team-content">
    <div class="container">
        <div class="row">
            <div class="fade-text animated fadeIn">
                <h3>{{myData.title}}</h3>
                <div class="line1"></div>
                <p><span class="yahei">{{data.teamSummary}}</span><br>
                 {{myData.teamSummary2}}</p>
            </div>
            <div class="space90"></div>
            <div class="col-md-12 no-padding">
                <div class="col-md-3 staff-content animated rollIn" ng-repeat="teammate in myData.teammates">
                    <div class="staff-img">
                        <img src="{{teammate.image}}" class="img-responsive " alt="">
                    </div>
                    <h4>{{teammate.name}}<span>{{teammate.post}}</span></h4>
                </div>

            </div>
        </div>
    </div>
</section>