<section class="welcome-content" component="sea-article">
    <div class="container">
        <div class="row">
            <div class="col-md-12 welcome-text animated bounceIn">
                <h3>Welcome to our agency</h3>
                <div class="line1"></div>
                <p><span class="yahei">海互动是一家创造性的网络解决方案公司，结合前端技术与巧妙的设计思路努力带来了独特的人机体验。 <br>我们的愿望是让每一个人享受网络带来的美好生活。我们专注于品质和独特的解决方案，从我们的工作可以看出，在所有的媒体：网络、平面和移动。我们总是希望接受挑战，利用我们所有的知识和经验，概念开发，设计和技术实现把每一个新项目打造成精品。</span>
                    <br>
                    SEA INTERACTION is a strategy, branding, and design company.</p>
                <a class="btn1" href="#">Read More</a>
            </div>
        </div>
    </div>
</section>