<!--
海互动文案  http://www.seakong.cn/

title:"标题"
p1 :"段落1"
p2 : "段落2"
btn : {
"link":"index", 连接
"name":"Read More"   默认Read More
}

-->
<section class="welcome-content" component="sea-article">
    <div class="container">
        <div class="row">
            <div class="col-md-12 welcome-text animated bounceIn">
                <h3 class="text-center">{{myData.title}}</h3>
                <div class="line1"></div>
                <p class="text-center"><span class="yahei text-center">{{myData.p1}} <br></span>
                   {{myData.p2}}</p>
                <a class="btn1" ui-sref="{{myData.btn.link}}">{{myData.btn.name}}</a>
            </div>
        </div>
    </div>
</section>