<!--

-->
<section class="services-content text-center" id="services" component="sea-service-content"
         data-slide="2" data-stellar-background-ratio="0.5" style="
         background-position: 0px 160.977px;
         padding:0;background-color: #0a9dc7;
         ">
    <div class="cover"></div>
    <div class="container">
    <div class="row">
    <div class="fade-text animated fadeIn">
    <h3>Our services</h3>
<div class="line3"></div>
    <p><span class="yah">作为一个诚实的团队，我们承诺要告诉你我们是否是适合这份工作的最佳选择。下面是我们所擅长的几件事情。<br>
</span>As honest folks, we promise to tell you whether or not we’re the best fit for the job. Below are a few things we know we’re good at.</p>
</div>
<div class="space60"></div>
    <div class="col-md-12 no-padding space30">
    <div class="col-md-4 service-content animated bounceIn">
    <div class="service-content-inner">
    <img src="http://www.seakong.cn/images/ico5.png" alt="网站定制">
    <h4>Web Designing<br><span class="yah">网站定制</span></h4>
    </div>
    </div>
    <div class="col-md-4 service-content animated bounceIn">
    <div class="service-content-inner">
    <img src="http://www.seakong.cn/images/ico6.png" alt="移动应用">
    <h4>Mobile Application<br><span class="yah">移动应用</span></h4>
    </div>
    </div>
    <div class="col-md-4 service-content animated bounceIn">
    <div class="service-content-inner">
    <img src="http://www.seakong.cn/images/ico4.png" alt="电商平台">
    <h4>E-COMMERCE<br><span class="yah">电商平台</span></h4>
    </div>
    </div>
    </div>
    <div class="col-md-12 no-padding">
    <div class="col-md-4 service-content animated bounceIn">
    <div class="service-content-inner">
    <img src="http://www.seakong.cn/images/ico7.png" alt="用户界面">
    <h4>UI&amp;UX<br><span class="yah">用户界面</span></h4>
    </div>
    </div>
    <div class="col-md-4 service-content animated bounceIn">
    <div class="service-content-inner">
    <img src="http://www.seakong.cn/images/ico3.png" alt="平面设计">
    <h4>GRAPHIC DESIGN<br><span class="yah">平面设计</span></h4>
    </div>
    </div>
    <div class="col-md-4 service-content animated bounceIn">
    <div class="service-content-inner">
    <img src="http://www.seakong.cn/images/ico6.png" alt="品牌策略">
    <h4>Branding<br><span class="yah">品牌策略</span></h4>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>