<!--
bootstrap 巨幕  http://v3.bootcss.com/components/#jumbotron

  {
          "name": "巨幕",
          "templateUrl": "templates/components/parts/jumbotron.html",
          "title": "旅烨集团",
          "p": "旅烨集团是一家公司",
          "btn": {
            "link": "about",
            "name": "关于"
 }

-->
<div class="container">
<div class="jumbotron">
    <h1>{{myData.title}}</h1>
    <p>{{myData.p}}</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="myData.btn.link" role="button">{{myData.btn.link}}</a></p>
</div>
</div>