<div class="navbar navbar-default navbar-fixed-top padding-tb" role="navigation">
    　<div class="navbar-header">
    　 <a href="##" ><img src="{{default.logo}}"></a>
    　</div>
    <ul class="nav navbar-nav">
        <li><a href="##">网站首页</a></li>
        <li class="dropdown">
            <a href="##" data-toggle="dropdown" class="dropdown-toggle">系列教程<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="##">CSS3</a></li>
                <li><a href="##">JavaScript</a></li>
                <li class="disabled"><a href="##">PHP</a></li>
            </ul>
        </li>
        <li><a href="##">名师介绍</a></li>
        <li><a href="##">成功案例</a></li>
        <li><a href="##">关于我们</a></li>
    </ul>
</div>



