<div class="aside left am-slide-left" tabindex="-1" role="dialog" style="z-index: 1050; display: block;    width: 500px;color:black" >
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" >

                <button type="button" class="close" ng-click="$hide()">×</button>

                <h1 class="text-center">  编辑导航栏</h1>
                Logo图片地址:<input ng-model="websiteData.navbar.logo"  style="color:black" /><br>
                <br>
                上传图片:<input type="file">
                导航地址:<input ng-model="websiteData.navbar.templateUrl"   style="color:black" size="30"></input>

                菜单:

                <br>
            <button type="button" class="btn btn-default" ng-click="$hide()">完成</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">还原</button></div></div></div></div>