<!--
 fa 是fontawsome 的图标
 cdn http://www.bootcdn.cn/font-awesome/
title
-->
<div>
    <section id="why" class="container content-section " style="    margin-top: 100px;
    margin-bottom: 100px;">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>{{title}}</h2>
                <div class="col-lg-4 " ng-repeat="item in myData.itemlist">
                    <i class="fa {{item.icon}} fa-5x text-warning"></i>
                    <br>
                    <br>
                    <h3>{{item.title}}</h3>
                    <p>{{item.summary}}</p>
                </div>
            </div>
        </div>
    </section>
</div>