<div class="container content2">
    <div class="text-center" style="margin:40px auto">
        <h1>我们的服务</h1>
        <p  style="color: #666666">我们已定制多套解决方案，助您轻松跨入“互联网+”时代</p>
        <p class="text-center"><span style="display: inline-block; width: 50px; border-bottom: 2px solid #000;"></span></p>
    </div>

    <div class="row text-center" >
        <div class="col-sm-12 col-md-6 col-lg-4" >
            <img src="images/05.jpg" alt="pic1" class=" img img-responsive center-block" >
            <h5 class="text-title">引导主体副本</h5>
            <p style="color: #666666">这是一个演示引导主体副本用法的实例。</p>
            <p>工业机器人是面向工业领域的多关节机械
                手或多自由度的机器装置，它能自动执行工作，是靠自身
                动力和控制能力来实现各种功能的一种机器……</p>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" >
            <img src="images/06.jpg" alt="pic1" class=" img img-responsive  center-block">
            <h5 class="text-title">引导主体副本</h5>
            <p style="color: #666666">这是一个演示引导主体副本用法的实例。</p>
            <p>工业机器人是面向工业领域的多关节机械
                手或多自由度的机器装置，它能自动执行工作，是靠自身
                动力和控制能力来实现各种功能的一种机器……</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <img src="images/07.jpg" alt="pic1" class=" img img-responsive  center-block">
            <h5 class="text-title">引导主体副本</h5>
            <p style="color: #666666">这是一个演示引导主体副本用法的实例。</p>
            <p>工业机器人是面向工业领域的多关节机械
                手或多自由度的机器装置，它能自动执行工作，是靠自身
                动力和控制能力来实现各种功能的一种机器……</p>
        </div>
    </div>
</div>


<div class="container-fluid content2" style="background: #f0f0f0">
    <div class="text-center" style="margin:40px auto">
        <h1>服务案例</h1>
        <p  style="color: #666666">我们联合第三方服务供应商，以更多的选择满足你业务全面的需求</p>
        <p class="text-center"><span style="display: inline-block; width: 50px; border-bottom: 2px solid #000;"></span></p>
    </div>
    <div class="container">
        <table class="picture_table" >
            <tr>
                <td rowspan="2"><img src="images/08.jpg" class=" img img-responsive center-block"></td>
                <td><img src="images/09.jpg" class=" img img-responsive center-block"></td>
                <td><img src="images/10.jpg" class=" img img-responsive center-block"></td>
                <td><img src="images/11.jpg" class=" img img-responsive center-block"></td>
            </tr>
            <tr>

                <td><img src="images/12.jpg" class=" img img-responsive center-block"></td>
                <td><img src="images/13.jpg" class=" img img-responsive center-block"></td>
                <td><img src="images/14.jpg" class=" img img-responsive center-block"></td>
            </tr>
        </table>

        <div class="text-center" style="margin: 30px auto">
            <a class="text-center learnMore"  >了解更多>></a>
        </div>


    </div>

</div>